<%= form_for @image, :html => { :multipart => true, :id => "fileupload" } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <p>
    <div class="uiduUploaderContainer"></div>
  </p>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :gallery_id %><br />
    <%= f.number_field :gallery_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_include_tag "uiduUploader" %>
<script type="text/javascript" >
  $(function () {
    var $fileupload = $('#fileupload').uiduUploader({
      enableCrop: true,
      model: 'image',
      attribute: 'image',
      uploadUrl: '<%= upload_images_path %>'
    });

    $(document.body).on('fileid', function (evt, data) {
      console.log(data);
      $('#userId').val(data.fileid);
    });

    $(document.body).on('upload', function (evt, data) {
      console.log("Upload subscriber", evt, data);
    });
  });
</script>
