<%= form_for @user, :html => { :multipart => true, :id => "fileupload" } do |f| %>
   <%= errors_for(@user, "Opps, impossibile creare un nuovo utente").html_safe %>
   <p>
          <input type="hidden" id="userId" name="id">
   </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
          <div class="small columns">
            <fieldset>
              <legend>Carica una immagine</legend>

              <input type="radio" class="abilitaCrop" name="abilitaCrop" value="true"  checked="checked">Crop</input>
              <input type="radio" class="abilitaCrop" name="abilitaCrop" value="false">Upload</input>
              <input type="file" id="fileUploader" name="">

              <input id="cropButton" class="hide button" type="button" value="Ritaglia">

              <input type="hidden" id="crop_x" name="crop_x">
              <input type="hidden" id="crop_y" name="crop_y">
              <input type="hidden" id="crop_w" name="crop_w">
              <input type="hidden" id="crop_h" name="crop_h">
              <div id="cropContainer">
              </div>
            </fieldset>
          </div>
        <div class="small columns">
          <div id="uploaderError" class="small columns">
            <small></small>
          </div>
        </div>
    <div class="small columns">
        <%= f.submit "Salva" %>
    </div>
  </p>
  <%= javascript_include_tag "uiduUploader" %>
  <script type="text/javascript" >

$(function () {
    var $fileupload = $('#fileupload').uiduUploader({enableCrop: true});

    $('.abilitaCrop').change(function (evt, data) {
          $fileupload.uiduUploader({enableCrop: $(this).val() === "true" });
    });

    $(document.body).on('upload', function (evt, data) { 
        console.log("Upload subscriber", evt, data);
    });

    $(document.body).on('crop', function (evt, data) { 
        console.log("Crop subscriber", evt, data);
      // var valuesToSubmit =  $(this).closest('form').serialize();
      // console.log(valuesToSubmit);
      // $.ajax({
      //     url: "/updateAvatar", //sumbits it to the given url of the form
      //     data: valuesToSubmit,
      //     method: "PUT",
      //     dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      // }).success(function(json){
      //     //act on result.
      // }).error(function () {
      // });
    });

});
    
  </script>


<% end %>
