<%= form_for @user, :html => { :multipart => true, :id => "fileupload" } do |f| %>
   <%= errors_for(@user, "Opps, impossibile creare un nuovo utente").html_safe %>
   <p>
          <input type="hidden" id="userId" name="id">
   </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
          <div class="small columns">
            <fieldset>
              <legend id="legenda">Carica una immagine</legend>

              <input type="radio" class="abilitaCrop" name="abilitaCrop" value="true"  checked="checked">Crop</input>
              <input type="radio" class="abilitaCrop" name="abilitaCrop" value="false">Upload</input>
              <input type="file" id="fileUploader" name="fileUploader">
              
              <input id="cropButton" class="hide button" type="button" value="Ritaglia">

              <input type="hidden" id="crop_x" class="cropData" name="crop_x">
              <input type="hidden" id="crop_y" class="cropData" name="crop_y">
              <input type="hidden" id="crop_w" class="cropData" name="crop_w">
              <input type="hidden" id="crop_h" class="cropData" name="crop_h">
              <div id="cropContainer">
              </div>
            </fieldset>
          </div>
        <div class="small columns">
          <div id="uploaderError" class="small columns">
            <small></small>
          </div>
        </div>
    <div class="small columns">
        <%= f.submit "Salva" %>
    </div>
  </p>
  <%= javascript_include_tag "uiduUploader" %>
  <script type="text/javascript" >

$(function () {
    var $fileupload = $('#fileupload').uiduUploader({enableCrop: true});

    $('.abilitaCrop').change(function (evt, data) {
          $fileupload.uiduUploader({enableCrop: $(this).val() === "true" });
    });

    $(document.body).on('fileid', function (evt, data) { 
        $('#userId').val(data.fileid);
    });

    $(document.body).on('upload', function (evt, data) { 
        console.log("Upload subscriber", evt, data);
    });

    $(document.body).on('crop', function (evt, data) { 
        $.ajax({
        type: "PUT",
        contentType: "application/json",
        url: "/users/"+$('#userId').val(),
        data: JSON.stringify(
        {
            user: 
            { 
                  crop_x: $('#crop_x').val(),
                  crop_y: $('#crop_y').val(),
                  crop_w: $('#crop_w').val(),
                  crop_h: $('#crop_h').val() 
            },
            _method: 'put'
        })
        })
        .done(function( msg )
        {
          $('<p style="color: green">Crop avvenuto correttamente</p>').insertAfter('#cropButton');
          var detailUrl = "<%= "#{request.original_url}" %>";
          $('<p><a href="' + detailUrl.replace("new", msg.location.id) + '">Dettaglio</a></p>').insertAfter('#cropButton');
            
        });
    });

});
    
  </script>


<% end %>
