<%= form_for @user, :html => { :multipart => true, :id => "fileupload" } do |f| %>
   <%= errors_for(@user, "Opps, impossibile creare un nuovo utente").html_safe %>
   <p>
          <input type="hidden" id="userId" name="id">
   </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
      <div class="uiduUploaderContainer"></div>
  </p>
  <p>
    <div class="small columns">
        <%= f.submit "Salva" %>
    </div>
  </p>
  <%= javascript_include_tag "uiduUploader" %>
  <script type="text/javascript" >

$(function () {
    var $fileupload = $('#fileupload').uiduUploader({enableCrop: true});
    
    $(document.body).on('fileid', function (evt, data) { 
        $('#userId').val(data.fileid);
    });

    $(document.body).on('upload', function (evt, data) { 
        console.log("Upload subscriber", evt, data);
    });

    $(document.body).on('crop', function (evt, data) {
    $('<p id="cropStatusMessage" style="color: blue">Ritaglio immagine in corso. Attendere prego...</p>').insertAfter('#cropButton'); 
        $.ajax({
        type: "PUT",
        contentType: "application/json",
        url: "/users/"+$('#userId').val(),
        data: JSON.stringify(
        {
            user: 
            { 
                  crop_x: $('#crop_x').val(),
                  crop_y: $('#crop_y').val(),
                  crop_w: $('#crop_w').val(),
                  crop_h: $('#crop_h').val() 
            },
            _method: 'put'
        })
        })          
        .done(function( msg )
        {
          $('#cropStatusMessage').css('color', 'green').text('Immagine ritagliata con successo').insertAfter('#cropButton');
          var detailUrl = "<%= "#{request.original_url}" %>";
          $('<p><a href="' + detailUrl.replace("new", msg.location.id) + '">Dettaglio</a></p>').insertAfter('#cropButton');
            
        });
    });
});
    
  </script>


<% end %>
