<% title "User" %>

<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>

<h3>Originale con larghezza fissa e aspect ratio mantenuto</h3>
<p><%= image_tag @user.avatar.url() %></p>

<h3>Originale croppato</h3>
<p><%= image_tag @user.avatar.url(:original) %></p>

<h3>Originale croppato scalato via attributi html</h3>
<p><%= image_tag( @user.avatar.url(:original).to_s, :width => 40 )%></p>

<h3>Large</h3>
<p><%= image_tag @user.avatar.url(:large) %></p>

<h3>Thumb</h3>
<p><%= image_tag @user.avatar.url(:thumb) %></p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
